<!DOCTYPE html>
<html lang="en">
	{% include head-relaunch.html %}
<body>
	<div class="main-wrapper">
		{% include header-relaunch.html %}

		<form>
		<section class="search">
			<input type="text" id="search-input" class="search--input" name="search-input" placeholder="Suche nach einem Rezept"/>
		</section>
		</form>
		<main id="results-container" class="main">
			{% assign sorted = site.recipes | sort:"date" %}
				{% for post in sorted %}
					<div class="recipe">
						<a href="{{ post.url | prepend: site.baseurl }}" class="recipe__link">
							<img src="/images/{{ post.image }}" class="recipe__link--image" />
							<h2 class="recipe__link--title">{{ post.title }}</h2>
						</a>
					</div> 
					{% endfor %}

		</main>

		<section class="pre-footer">
			<p class="headline headline--h3">Du willst Dein Rezept auch hier sehen?</p>
			<a href="#" class="button button--green paragraph paragraph--uppercase">Au, das wäre toll!</a>
		</section>

		<footer class="footer">
			<div class="footer-maintext">
				<p class="headline headline--h1 headline--white">Verkaufe dein Essen</p>
				<p class="paragraph paragraph--big  paragraph--white">Mit Cook Eat kannst Du die tollen Essen mit lieben Menschen in der Nachbarschaft
				teilen. Das spart dir Kosten und anderen Zeit. Probier es gleich aus!</p>

				<a href="#" class="button button--orange paragraph paragraph--uppercase">Jetzt essen anbieten</a>
			</div>
			<div class="logo logo--footer">
				<img src="../assets/cookeat-logo.svg" alt="Das Logo von CookEat.ch" />
			</div>
		</footer>
	{% include footer-relaunch.html %}

</body>
</html>
