.footer {
	max-width: 1440px;
	display: flex;
	flex-flow: column wrap;
}

.footer__fullWidth {
	display: flex;
	flex-flow: column wrap;
}

.footer__pre {
	height: 438px;
	background: url("../public/assets/kv_egg-asparagus.jpg");
	background-size: cover;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5rem;
}

@media only screen and (max-width: 600px) {
	.footer__pre {
		padding: 1rem;
	}
}

.footer__pre p {
	color: var(--white);
}

.footer__preHeader {
	font-family: "Debby", sans-serif;
	color: var(--white);
	font-size: 5rem;
}

.footer__preText {
	font-size: 1.5rem;
	line-height: 2.25rem;
	margin-bottom: 28px;
}

@media only screen and (max-width: 600px) {
	.footer__preHeader {
		font-size: 3.5rem;
	}

	.footer__preText {
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 28px;
	}
}

.footer__preRight {
	background: url("../public/assets/cookeat-logo.svg");
	background-size: cover;
	width: 120px;
	height: 86px;
	justify-self: flex-end;
	align-self: flex-end;
	margin: 28px 60px;
}

@media only screen and (max-width: 390px) {
	.footer__pre {
		position: relative;
	}

	.footer__preRight {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0;
	}
}

@media only screen and (min-width: 390px) {
	.footer__pre {
		position: relative;
	}

	.footer__preRight {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 2rem 0.5rem;
	}
}

@media only screen and (min-width: 768px) {
	.footer__pre {
		position: relative;
	}

	.footer__preRight {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 2rem;
	}
}

.footer__legal {
	background: var(--brownish-grey);
	padding: 10px 60px;
}

@media only screen and (max-width: 600px) {
		.footer__legal {
			padding: 0.5rem 1rem;
		}
}

.footer__legal p {
	font-weight: 700;
	font-size: 0.87rem;
	line-height: 2rem;
}

.footer__detailPage {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
}

.footer__detailPageLink {
	color: var(--grey);
	margin: 32px;
}