:root {
	--white: #ffffff;
	--black: #000000;
	--green: #bcc657;
	--orange: #eeb92b;
	--blue: #78a7b4;
	--grey: #45423b;
	--brownish-grey: #d6cdbe;
	--light-grey: #e6dede;
	--off-white: #f2efef;

	--background: #e5e5e5;
	--text: var(--grey);
	--footer: var(--brownish-grey);
	--legal: var(--brownish-grey);
}

html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 100%;
}

a {
	color: var(--blue);
	font-weight: 400;
	text-decoration: none;
	text-decoration-skip: auto;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: from-font;
}

h1 {
	font-family: "Debby", sans-serif;
	font-size: 5rem;
	line-height: 4.25rem;
	font-weight: 400;
}

.headline {
	font-family: "Ubuntu", sans-serif;
	color: var(--grey);
}

h1,
.headline--h1 {
	font-family: "Debby", sans-serif;
	font-weight: 400;
	font-size: 5rem;
	line-height: 4.25rem;
}

h2,
.headline--h2 {
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 2rem;
}

h3,
.headline--h3 {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
}

.headline--white {
	color: var(--white);
}

.btn {
	width: auto;
	height: auto;
	padding: 0.87rem 1.12rem;
	font-weight: 700;
	font-size: 1.05rem;
	line-height: 1.5rem;
	text-align: center;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.04rem;
}

.btn--orange {
	background: var(--orange);
	color: var(--white);
}

.btn--orange:hover {
	color: var(--grey);
}

.btn--green {
	background: var(--green);
	color: var(--white);
}

.btn--green:hover {
	color: var(--grey);
}

.btn--ghost {
	background: var(--white);
	color: var(--grey);
	border: 2px solid var(--grey);
	border-radius: 4px;
}

a:hover {
	color: var(--blue);
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
