.layout {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
}

.main {
	padding: 40px;
}

.recipeCard {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

@media only screen and (min-width: 1440px) {
	.recipeCard {
		justify-content: flex-start;
	}
}