.recipeCard {
	margin: 16px;
	display: flex;
	flex-flow: column wrap;
}

.recipeCard__link {
	text-decoration: none;
}

.recipeCard__image {
	margin-bottom: 12px;
	position: relative;
	width: 300px;
	height: 227px;
	max-width: 300px;
	max-height: 227px;
}

@media only screen and (min-width: 768px) {
	.recipeCard__image {
		margin-bottom: 12px;
		position: relative;
		width: 420px;
		height: 227px;
		max-width: 420px;
		max-height: 227px;
	}
}

.recipeCard__image span {
	border-radius: 8px;
}

.recipeCard__title {
	font-size: 1.125rem;
	color: var(--grey);
	text-decoration: none;
}